<div class="home">
    <div class="container p-3 bg-resto-top">
        <div class="row m-auto">
            <div class="d-flex justify-content-between py-2">
                <div class="resto-name fw-bold">Mantra</div>
                <i class="bi bi-info-lg help"></i>
            </div>
        </div>
    </div>
    <div class="container p-3 about-container border-rounded">
        <div class="row m-auto">
            <div class="about-us">
                <h3 class="fw-bold">About us</h3>
                <img src="https://img.freepik.com/premium-photo/indian-vegetable-pulav-biryani-made-using-basmati-rice-served-terracotta-bowl-selective-focus_466689-55615.jpg?w=900" alt="" srcset="" class="about-food-pic my-3 border-rounded">
                <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet nesciunt ut fuga magnam porro, quasi, ex dicta accusantium quam perferendis recusandae repudiandae id voluptas perspiciatis blanditiis expedita officia. Magni, facilis.</p>
            </div>
        </div>
    </div>
    <div class="container p-3">
        <div class="row m-auto">
            <div class="action-btns">
                <button class="btn btn-outline-danger col-12 col-lg-3 py-2 mb-2" (click)="viewMenu()">View Menu</button>
                <button class="btn btn-outline-secondary col-12 col-lg-3 py-2">Call assistance</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
